---
---

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}MZAINI30</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="alternate" type="application/rss+xml" href="https://mzaini30.com/feed" />
	<link rel="stylesheet" type="text/css" href="/vendor/bulma/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/code/github.css">
	<style type="text/css">
		* {
			word-wrap: break-word;
		}

		.infinity-isi,
		.jarak {
		    padding-top: 1px;
		    padding-bottom: 25px;
		}

		.container-meta {
		    width: 600px;
		    max-width: 90%;
		    margin: auto;
		}

		.sembunyi {
			display: none;
		}
	</style>

	 {% seo title=false %}

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({
	          google_ad_client: "ca-pub-2408628281705149",
	          enable_page_level_ads: true
	     });
	</script>

</head>
<body>
	<div class="isi">
		<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		    <div class="navbar-brand">
		        <a class="navbar-item judul-blog" href="/">
		            MZAINI30
		        </a>
		        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		            <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
		        </a>
		    </div>
		    <div id="navbarBasicExample" class="navbar-menu">
		        <div class="navbar-start">
			                <a class="navbar-link" href='/cari-0825'>
			                    Cari
			                </a>
					{% assign menu = site.menu | sort: 'nama' %}
					{% for x in menu %}
			            <div class="navbar-item has-dropdown is-hoverable">
			                <a class="navbar-link">
			                    {{ x.nama }}
			                </a>
			                <div class="navbar-dropdown">
			                	{% assign isi = x.isi | sort: 'nama' %}
			                	{% for y in isi %}
				                	<a class="navbar-item" href="{{ y.link }}" target="_blank">
				                        {{ y.nama }}
				                    </a>
				                {% endfor %}
			                </div>
			            </div>
					{% endfor %}
		        </div>
		    </div>
		</nav>

		<div class="container-meta infinity-bungkus">
			{{ content }}
		</div>
	</div>
	<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/bulma/bulma.js"></script>
	<script type="text/javascript">
		$('table').wrap('<div class="table-container"></div>')
	</script>
	{% if page.beranda %}
		<script type="text/javascript">
			if (location.pathname == '/') {
				$('.judul-blog').click(function(x){
					x.preventDefault()
					$('html, body').animate({
						scrollTop: 0
					}, 600)
				})	
			}
		</script>

		<script type="text/javascript" src="/vendor/infinite-scroll/infinite-scroll.pkgd.min.js"></script>
		<script type="text/javascript">
			$('.infinity-bungkus').infiniteScroll({
				path: '.selanjutnya',
				append: '.infinity-isi',
                    scrollThreshold: 1000
			})
		</script>
	{% endif %}
</body>
</html>