---
---

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<title>Zen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/vendor/bulma/bulma.min.css">
	<style type="text/css">
		* {
			word-wrap: break-word;
		}

		.jarak {
			padding-top: 1px;
		}

.container-meta {
width: 90%;
margin: auto;
}

	</style>
</head>
<body>

	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	    <div class="navbar-brand">
	        <a class="navbar-item" href="/">
	            ZEN
	        </a>
	        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
	            <span aria-hidden="true"></span>
	            <span aria-hidden="true"></span>
	            <span aria-hidden="true"></span>
	        </a>
	    </div>
	    <div id="navbarBasicExample" class="navbar-menu">
	        <div class="navbar-start">
				{% assign menu = site.menu | sort: 'nama' %}
				{% for x in menu %}
		            <div class="navbar-item has-dropdown is-hoverable">
		                <a class="navbar-link">
		                    {{ x.nama }}
		                </a>
		                <div class="navbar-dropdown">
		                	{% assign isi = x.isi | sort: 'nama' %}
		                	{% for y in isi %}
			                	<a class="navbar-item" href="{{ y.link }}" target="_blank">
			                        {{ y.nama }}
			                    </a>
			                {% endfor %}
		                </div>
		            </div>
				{% endfor %}
	        </div>
	    </div>
	</nav>

	<div class="container-meta is-fluid jarak">
		{{ content }}
	</div>
	<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/bulma/bulma.js"></script>
</body>
</html>