---
---

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}Zen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="alternate" type="application/rss+xml" href="https://rumahzen.github.io/feed" />
	<link rel="stylesheet" type="text/css" href="/vendor/bulma/bulma.min.css">
	<style type="text/css">
		* {
			word-wrap: break-word;
		}

		.jarak {
		    padding-top: 1px;
		    padding-bottom: 30px;
		}

		.container-meta {
		    width: 600px;
		    max-width: 90%;
		    margin: auto;
		}

		.sembunyi {
			display: none;
		}
	</style>
</head>
<body>
	<div class="isi">
		<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		    <div class="navbar-brand">
		        <a class="navbar-item" href="/">
		            ZEN
		        </a>
		        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		            <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
		            <span aria-hidden="true"></span>
		        </a>
		    </div>
		    <div id="navbarBasicExample" class="navbar-menu">
		        <div class="navbar-start">
					{% assign menu = site.menu | sort: 'nama' %}
					{% for x in menu %}
			            <div class="navbar-item has-dropdown is-hoverable">
			                <a class="navbar-link">
			                    {{ x.nama }}
			                </a>
			                <div class="navbar-dropdown">
			                	{% assign isi = x.isi | sort: 'nama' %}
			                	{% for y in isi %}
				                	<a class="navbar-item" href="{{ y.link }}" target="_blank">
				                        {{ y.nama }}
				                    </a>
				                {% endfor %}
			                </div>
			            </div>
					{% endfor %}
		        </div>
		    </div>
		</nav>

		<div class="container-meta jarak">
			{{ content }}
		</div>
	</div>
	<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/bulma/bulma.js"></script>
	<script type="text/javascript" src="/vendor/infinite-scroll/infinite-scroll.pkgd.min.js"></script>
	<script type="text/javascript">
		$('body').infiniteScroll({
			path: '.selanjutnya',
			append: '.isi'
		})
	</script>
</body>
</html>