---
layout: default
---

<div class="">
	<div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{ page.title }}
	    </p>
	    <a href="#" class="card-header-icon" aria-label="more options">
	      <span class="icon">
	        <i class="fas fa-angle-down" aria-hidden="true"></i>
	      </span>
	    </a>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      {{ content }}
	    </div>
	  </div>

 <footer class="card-footer">
				    <a href="https://wa.me/6281545143654?text=*{{ page.title | replace: ' ', '%20' }}*%0A_https://rumahzen.github.io{{ page.url }}_%0A%0A" class="card-footer-item">Masukkan Komentar</a>
				  </footer>

	</div>
</div>