---
layout: default
---

<div class="jarak">
	<div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{ page.title }}
	    </p>
	    <a href="#" class="card-header-icon" aria-label="more options">
	      <span class="icon">
	        <i class="fas fa-angle-down" aria-hidden="true"></i>
	      </span>
	    </a>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      {{ content }}
	      {% if page.category %}
	      	<h1 class="is-capitalized">Serial <em>{{ page.category }}</em></h1>
			<ul>
			  {% assign postingan = site.posts | sort: 'title' %}
			  {% for x in postingan %}
			  	{% if x.category == page.category %}
			  		<li><a href="{{ x.url }}">{{ x.title }}</a></li>
			  	{% endif %}
			  {% endfor %}
			</ul>
	      {% endif %}
	    </div>
	  </div>
		<footer class="card-footer">
		    <a href="https://wa.me/6281545143654?text=*{{ page.title | replace: ' ', '%20' }}*%0A_https://mzaini30.com{{ page.url }}_%0A%0A" class="card-footer-item">Masukkan Komentar</a>
		</footer>
	</div>
</div>