---
layout: default
---

<div class="jarak">
	<div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{ page.title }}
	    </p>
	    <a href="#" class="card-header-icon" aria-label="more options">
	      <span class="icon">
	        <i class="fas fa-angle-down" aria-hidden="true"></i>
	      </span>
	    </a>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      {{ content }}
			<p>
			    <a href='https://github.com/mzaini30/apk-mzaini30/raw/master/MZAINI30.signed.apk'>
			        <img src='/gambar/google-play-badge.png'>
			    </a>
			</p>
	    </div>
	  </div>
		<footer class="card-footer">
		    <a href="https://wa.me/6281545143654?text=*{{ page.title | replace: ' ', '%20' }}*%0A_https://mzaini30.com{{ page.url }}_%0A%0A" class="card-footer-item">Masukkan Komentar</a>
		</footer>
	</div>
</div>

{% assign random = site.time | date: "%s" %}
{% assign acak_judul = page.title.size %}
{% assign angka_postingan = page.date | date: "%s" | plus: random | plus: acak_judul %}

{% assign tulisan_1 = angka_postingan | modulo: site.posts.size %}
{% assign tulisan_2 = angka_postingan | plus: 1 | modulo: site.posts.size %}
{% assign tulisan_3 = angka_postingan | plus: 2 | modulo: site.posts.size %}
{% assign tulisan_4 = angka_postingan | plus: 3 | modulo: site.posts.size %}
{% assign tulisan_5 = angka_postingan | plus: 4 | modulo: site.posts.size %}
{% assign tulisan_6 = angka_postingan | plus: 5 | modulo: site.posts.size %}
{% assign tulisan_7 = angka_postingan | plus: 6 | modulo: site.posts.size %}
{% assign tulisan_8 = angka_postingan | plus: 7 | modulo: site.posts.size %}
{% assign tulisan_9 = angka_postingan | plus: 8 | modulo: site.posts.size %}
{% assign tulisan_10 = angka_postingan | plus: 9 | modulo: site.posts.size %}

<nav class="panel">
  <p class="panel-heading">
    Tulisan Lainnya
  </p>

  <a class="panel-block" href="{{ site.posts[tulisan_1].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_1].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_2].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_2].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_3].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_3].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_4].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_4].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_5].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_5].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_6].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_6].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_7].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_7].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_8].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_8].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_9].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_9].title }}
  </a>
  <a class="panel-block" href="{{ site.posts[tulisan_10].url }}">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    {{ site.posts[tulisan_10].title }}
  </a>

</nav>

<br>